<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chart Generator</title>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/styles.css" />
    <script src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <h1>Chart Generator</h1>

    <div class="container">
      <h2>Create Chart</h2>
      <!--Chart type drop down-->
      <form action="/add" method="POST">
        <div class="form-group">
          <label for="chartOptions">Choose an option:</label>
          <select id="options" class="form-control" name="chartOptions">
            <option value="PieChart">Pie Chart</option>
            <option value="BarChart">Bar Chart</option>
          </select>
        </div>

        <div class="form-group">
          <label for="chartTitle">Chart Title</label>
          <input
            type="text"
            class="form-control"
            name="chartTitle"
            placeholder="Enter chart title"
            required
          />
        </div>

        <div class="form-group">
          <label for="chartSections">Chart Sections</label>
          <select id="chartSections" class="form-control" name="chartSections">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>

        <!-- Container where inputs will be added dynamically -->
        <div id="chartFields"></div>

        <div class="form-group">
          <label for="chartTotal">Chart Total</label>
          <input
            type="int"
            class="form-control"
            name="chartTotal"
            placeholder="Enter total value of all sectors"
          />
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>

      <div id="myChart" style="max-width: 700px; height: 400px"></div>
    </div>

    <!--Creates Label Fields Dynamically-->
    <script src="/public/labelFields.js" defer></script>

    <!--Passes tblData to drawChart()-->
    <script>
      var tblData = <%- JSON.stringify(tblData) %>;  // Embed JSON into JS
      console.log(tblData);

      //loads chart libraries
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn("string", "Element");
        data.addColumn("number", "Percentage");

        let runningTotal = 0;

        //replace string w/ array[i], 4 with section numbers
        for (let i = 0; i < Number(tblData.chartSections); i++) {

          if (i + 1 == tblData.chartSections) {
            data.addRows([
              [`${tblData.chartLabels}`, Number(tblData.chartTotal) - runningTotal]
            ]);
          } else {
            data.addRows([
            [`${tblData.chartLabels}`, Number(tblData.chartSubtotal[i])]
          ]);
          }

          runningTotal += tblData.chartSubtotal[i];
        }

        var chart = new google.visualization.PieChart(
          document.getElementById("myChart"));

        if (tblData.chartOptions === "PieChart") {
            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(
            document.getElementById("myChart")
            );

            var options = {
              width: 450,
              height: 450,

              //THIS BREAKS THE PIE CHART, WILL NEED TO FIX
              // hAxis:  {
              //   title: `${tblData.chartTitle}`,
              //   titleTextStyle: {
              //     color: "#333",
              //     fontSize: 20,
              //     bold: true,
              //     alignment: "center"
              //   }
              // },
            };
        } else if (tblData.chartOptions === "BarChart") {
            var chart = new google.visualization.BarChart(
            document.getElementById("myChart")
            );
        }
        chart.draw(data, options);
      }
    </script>
  </body>
</html>
